<!-- <ion-header>
  <ion-toolbar>
    <ion-title>shop-creation</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="div-center row">
    <div class="input">
     <ion-input placeholder="Full Name" class="shop-name"></ion-input>
    </div>
    <div class="input">
      <ion-input placeholder="Mobile Number" class="shop-name"></ion-input>
     </div>
     <div class="input">
      <ion-input placeholder="Shop name eg. My Electronics" class="shop-name"></ion-input>
     </div>
     <div class="input">
      <ion-input placeholder="Passowrd" class="shop-name"></ion-input>
     </div>
    <div class="create-shop" routerLink='/tabs'>
    Create Shop
    </div>
  </div>
</ion-content>
