

<ion-content>
<div class="title">Add Product</div>
<div style="margin-top: 34px;">
    <ion-item>
        <ion-label position="floating">Product Name</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Description</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Price</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-button class="save-btn   ">Save</ion-button>
</div>
</ion-content>
